asgiref==3.2.3
beautifulsoup4==4.6.0
bs4==0.0.1
cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
Django==3.0.7
django-filter==1.1.0
djangorestframework==3.11.0
grpcio==1.10.0
idna==2.6
kiwisolver==1.1.0
lxml==4.4.2
Markdown==2.6.11
matplotlib==3.1.2
multitasking==0.0.9
nltk==3.2.5
numpy==1.17.4
pandas==0.25.3
Pillow==5.0.0
protobuf==3.5.2.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pyparsing==2.4.5
pytesseract==0.2.0
python-dateutil==2.8.1
pytz==2018.3
requests==2.22.0
rsa==3.4.2
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sqlparse==0.3.0
urllib3==1.22
yfinance==0.1.52
